* {
  text-align: center;
  font-size: larger;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

textarea {
  resize: none;
  height: 65px;
  width: 150px;
}

.buttons {
  display: flex;
  gap: 100px;
  text-align: center;
}

button {
  width: 100px;
  height: 75px;
  text-align: center;
}
